<header>
    <div class="container">
        <a routerLink="/" class="logo">
            <img src="assets/images/ramen.png" alt="Ramen Icon" class="logo-icon">
            Ramen Realm!
          </a>
          
        <nav>
            <ul>
                <li><a routerLink="/login">Login</a></li>
                <li class="menu-container">
                    <a routerLink="/dashboard">Nafish</a>
                    <div class="menu">
                        <a routerLink="/profile">Profiles</a>
                        <a routerLink="/orders">Orders</a>
                        <a>Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page">
                        Cart <span *ngIf="cartQunatity">{{cartQunatity}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</header>