<app-search></app-search>
<app-tags></app-tags>
<app-not-found
[visible]="!foods || !foods.length"
resetLinkText="Reset Search"
></app-not-found>
<ul class="food-list">
  <li class="food-card" *ngFor="let food of foods; trackBy: trackByID">
    <!-- Food Image and Name -->
    <div class="card-header">
      <a routerLink="/food/{{ food.id }}">
        <img class="food-image" [src]="food.imageUrl" [alt]="food.name" loading="lazy"/>
      </a>
    </div>

    <!-- Food Details in a Card Body -->
    <div class="card-body">
      <!-- Name and Favorite Heart -->
      <div class="name-favorite">
        <div class="name">
          <a routerLink="/food/{{ food.id }}">{{ food.name }}</a>
        </div>
        <span class="favorite" [class.is-favorite]="food.favorite"> ❤</span>
      </div>

      <!-- Star Rating -->
      <div class="stars">
        <app-star-rating
          [rating]="food.stars"
          [totalStars]="5"
          [readonly]="true"
          (ratingChange)="onRatingChange($event, food.id)">
        </app-star-rating>
      </div>

      <!-- Cook Time and Origins in One Row -->
      <div class="cook-origin-row">
        <div class="cook-time">
          {{ food.cookTime }}
        </div>
        <div class="origins">
          <ng-container *ngFor="let origin of food.origins">
            <span class="origin-pill">{{ origin }}</span>
          </ng-container>
        </div>
      
      </div>

      <!-- Price -->
      <div class="price">
        {{ food.price | currency:'USD':'symbol':'1.2-2' }}      </div>
    </div>
  </li>
</ul>
<app-footer></app-footer>