<footer class="footer">
    <div class="footer-container">
      <!-- Logo Section -->
      <div class="footer-logo">
        <a routerLink="/" class="logo">
          <img src="assets/images/ramen.png" alt="Ramen Icon" class="logo-icon">
          Ramen Realm!
        </a>
      </div>
  
      <!-- Footer Section 1 -->
      <div class="footer-section">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Menu</a></li>
        </ul>
      </div>
  
      <!-- Footer Section 2 -->
      <div class="footer-section">
        <h4>Support</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
      </div>
  
      <!-- Social Media -->
      <div class="footer-section social-media">
        <h4>Social Links</h4>
        <div class="social-icons">
          <a href="#"><img src="assets/images/icons8-facebook-48.png" alt="Facebook"></a>
          <a href="#"><img src="assets/images/icons8-instagram-48.png" alt="Instagram"></a>
          <a href="#"><img src="assets/images/icons8-twitterx-48.png" alt="Twitter"></a>
        </div>
      </div>
    </div>
  
  
    <div class="footer-bottom">
      &copy; 2024 Ramen Realm! All Rights Reserved.
    </div>
  </footer>